<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" id="material-icons-css" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" media="all">
        -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />

        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {#
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}" />
        #}
        {% block javascripts %}{% endblock %}
        <script  src="{{ asset('js/jquery.min.js') }}"></script>
        <script  src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        {#

         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/slick/slick.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/slick/slick-theme.min.css') }}" />
    <link rel="icon" href="{{ asset('favicon') }}" />
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/print.css') }}" />

        #}

        <style>

            @font-face {
                font-family: 'Bebas';
                src: url({{ asset('font/BEBAS.ttf') }})
            }

            @font-face {
                font-family: 'Gotham';
                src: url({{ asset('font/GothamMediumRegular.ttf') }})
            }
        </style>

        <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        -->
    </head>
    <body>
    {% include 'default/header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'default/footer.html.twig' %}
    <script>
        $(function() {
            $(window).on("scroll", function() {
                if($(window).scrollTop() > 50) {
                    $("nav.navbar").addClass("active");
                } else {
                    $("nav.navbar").removeClass("active");
                }
            });
        });
    </script>
    </body>
</html>
