{% extends 'base.html.twig' %}

{% block body %}
<style>
    html, body{
        height: 100%;
        width: 100%;
        position: relative;
    }
</style>
<div class="grid col-md-12" style="background: #F5F5F5; padding: 0;">

    <div id="homeTopImage" class="col-md-12" style=" width: 100%; height: 300px; padding: 0;">
        <div style="height: 100%;
    background: url({{ asset("img/poster.png") }});
    background-size: cover;"></div>

    </div>

    <div id="search" class="col-md-6" style="background: white; width: 50%; /*height: 100px;*/ margin-left: 25%; border: 1px solid grey; border-radius: 5px; /*z-index: 1;*/ top: 200px; display: none;">

        <input id="homeSearchInput" type="text" class="center-block" style="width: 80%; margin-top: 2%; border: none; border-bottom: 1px solid grey; margin-bottom: 2%" placeholder="Modele, marque ville ...">

        <div class="center-block" style="width: 80%; margin-top: 2%; background: red; display: none;">

            <div class="col-md-2 searchMarque" style="border: 1px solid blue; ">
                <img src="{{ asset("img/opel.png") }}" alt="">
                <img src="{{ asset("img/opel.png") }}" alt="">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>

        </div>

        <style>

            #homeSearchInput:focus {
                outline: none;
            }

            .searchMarque{
                margin-right: 0.6%;
                width: 16%;
            }

        </style>

    </div>

    <div class="col-md-12" style="background: #F5F5F5; margin-top: 14.5%; padding: 0" >


        <!--
        <div id="blockInformations" class="col-lg-12" style="/*margin-left: 10%;*/">

            <h2 class="center-block col-lg-12" style="text-align: center;">Swicar en quelques points</h2>

            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape1.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape2.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape3.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape4.png") }}" alt="">
            </div>

            <style>

                .informationBlock{
                    margin-right: 8%;
                    width: 17%;
                }

                .informationBlock img {
                    width: 134%;
                }

            </style>

        </div>
        -->
    </div>
    <br>

    <div class="col-md-12" style="background: #FFFFFF; margin-top: 14.5%; padding: 0" >

        <h1 class="col-lg-12 text-center" style="margin-top: 20%; margin-bottom: 9%; font-size: 2em; color: #4A4A6B">
            Quelques chiffres clés
        </h1>

        <div class="col-lg-12 block-3-infos">

            <div class="col-lg-4 inline-block"style="width: 32%; display: inline-block">
                <img style="width: 70%; display: block; margin-left: 11%" class="col-lg-12" src="{{ asset('img/1-offres.svg') }}" alt="">
                <p class="number col-lg-12 text-center">3 017 <br><span class="text-info">offres postées</span></p>
            </div>

            <div class="col-lg-4 inline-block"style="width: 32%; display: inline-block">
                <img style="width: 70%; display: block; margin-left: 11%" class="col-lg-12" src="{{ asset('img/2-vendus.svg') }}" alt="">
                <p class="number col-lg-12 text-center">2 892 <br><span class="text-info">voitures vendus</span></p>
            </div>

            <div class="col-lg-4 inline-block"style="width: 32%; display: inline-block">
                <img style="width: 70%; display: block; margin-left: 11%" class="col-lg-12" src="{{ asset('img/3-satisfait.svg') }}" alt="">
                <p class="number col-lg-12 text-center">89 % <br><span class="text-info">clients satisfaits</span></p>
            </div>

        </div>


    </div>

    {% include 'AppBundle::somePointsContent.html.twig' %}


    {#
    <div class="col-md-12" style="background: #E6E6E6; padding-bottom: 3%">

        <div id="blockLastAdvert" style="margin-left: 10%;">

            <h2 class="center-block" style="width:36%;">Denieres offres en ligne</h2>

            {#
            <div class="advertBlock col-lg-3" style="background: white; border-radius: 3%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: white">

                    <h3 class="advert-title col-lg-12">Alfa Romeo 2600
                        <i class="material-icons pull-right" style="color: #C14D63; padding-right: 5%">favorite</i>
                    </h3>

                    <p class="col-lg-12" style=" font-size: 12px; color: #afafaf; padding: 11px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi consectetur corporis deleniti dolorum ...
                    </p>

                    <div class="col-lg-12">
                        <span class="advert-price">21 000  <i class="material-icons">euro_symbol</i></span>
                        <span class="advert-kilometrage">1 270</span>
                        <span class="advert-boite" style="">Automatique</span>
                    </div>

                </div>
            </div>
#

            {% for advert in adverts %}
            
            <div class="col-lg-3 advertBlock" style="background-color: white;border-radius: 5%;/*margin: 2% 0.3% 2% 0.3%;*/padding: 0;">
                <div class="card">
                    <img class="card-img-top" src="{{ advert.imageUrl }}" style="width: 100%; height: auto;border-top-right-radius: 5%;border-top-left-radius: 5%;">
                    <div class="card-block" style="padding: 20px; padding-top: 0">
                        <h4 class="card-title">{{ advert.carModel|upper }}</h4>
                        <div class="meta">
                            {{ advert.description|slice(0, 50) ~ '...' }}
                        </div>
                    </div>
                    <div class="card-footer col-lg-12" style="padding: 0; padding-bottom: 4%">
                    <span class="col-lg-12">
                        <span>{{ advert.price|number_format(0,'.',' ') }} <img src="{{ asset("img/euro.png") }}" alt="euro"> </span> |
                        <span>{{ advert.mileage }} <img src="{{ asset("img/speedometer.png") }}" alt="speedometer"></span> |
                        <span>
                        {% if advert.gearbox == 'manual' %}
                            MANUELLE <img src="{{ asset("img/automatic.png") }}" alt="">
                            {% else %}
                            AUTOMATIQUE <img src="{{ asset("img/automatic.png") }}" alt="">
                        {% endif %}
                        </span>
                    </span>
                    </div>
                </div>
            </div>
            {% endfor %}

            <style>
                .card-title::before{
                    font-family: Bebas sans-serif;
                    width: 3px;
                    height: 20px;
                    background-color: #1a7bd3;
                    content: '';
                    display: inline-block;
                    margin-left: -20px;
                    margin-right: 15px;
                }

                .card-footer .float-right span {
                    font-weight: bold;
                    padding: 17px;
                    margin-top:20px ;
                }
                .meta {
                    font-size: 12px;
                    color: #afafaf;
                }
            </style>




{#
            <div class="advertBlock col-lg-3" style="background: white;  border-radius: 3%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: white">





                </div>
            </div>
            #}
            {#
                        <div class="advertBlock col-lg-3" style="background: white;  border-radius: 3%">
                            <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                            <div style="background: white">
                                t
                            </div>
                        </div>
                        #
            <style>

                .advertBlock{
                    margin-right: 7%;
                    padding-left: 0;
                    padding-right: 0%;
                }

                .advert-title{
                    border-left: #25437A 4px solid;
                    padding-left: 20px;
                }

            </style>

        </div>
    </div>
    #}


    <!--
        <div class="col-md-12" style="background: linear-gradient(to right, #447398, #204D7E); color: white">

            <div id="blockFooter" class="col-lg-10" style="margin-left: 10%; ">

                <h2 class="center-block" style="width:36%; text-align: center; color: white">Des questions ?</h2>

                <div class="col-md-12">

                    <div class="icone-footer telephone-icone block-img col-md-3">
                        <span class="txt">TELEPHONE <br>01 59 60 44 66</span>
                    </div>

                    <div class="icone-footer email-icone block-img col-md-3">
                        <span class="txt">EMAIL <br>contact@swicar.com</span>
                    </div>

                    <div class="icone-footer chat-icone block-img col-md-3">
                        <span class="txt">CHAT <br>cliquez ici</span>
                    </div>

                </div>

                <hr class="col-lg-12 hr-footer">

                <p class="coyprigthFooter col-md-12" style="text-align: center">&copy; 2017 SWICAR</p>

                <p class="col-md-1 text-footer" style="min-width: 11%">Mentions légales</p>
                <p class="col-md-1 text-footer" style="max-width: 7%">À propos</p>
                <p class="col-md-1 text-footer" style="max-width: 6%">Contact</p>
                <p class="col-md-1 text-footer" style="min-width: 12%">Conditions générales</p>

            </div>

        </div>

        <style>

            .block-img{
                display: inline-block;
                /*
                width: 20%;
                 */
            }

            .icone-footer {
                background-position: center top;
                background-size: 80px;
                padding-top: 90px;
                text-align: center;
                margin-left: 6%;
                /*
                margin-left: 9%;
                 */
            }

            .telephone-icone {
                background: url( {{ asset("img/footer/telephone.png") }} )no-repeat center 15px;
                background-size: 60px;
            }
            .email-icone {
                background: url( {{ asset("img/footer/email.png") }} )no-repeat center 15px;
                background-size: 60px;
            }
            .chat-icone {
                background: url( {{ asset("img/footer/chat.png") }} )no-repeat center 15px;
                background-size: 60px;
            }

            .text-footer {
                padding: 0;
            }



            .hr-footer{
                border: 0;
                height: 2px;
                background-color: #fff;
                /*
                background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                */
            }

        </style>

    </div>

</div>
--W

    <!-- Modal -->



<!--
<div class="triangleTopLeft" style="
    width: 0;
    height: 0;
    border-top: 90px solid white;
    border-right: 100vw solid transparent;
    position: absolute;
    top: 0px;"></div>

<div class="triangleBottomLeft" style="
    width: 0;
    height: 0;
    border-bottom: 90px solid white;
    border-right: 100vw solid transparent;
    position:  absolute;
    bottom: 0;"></div>

<p>Coucou Julien</p>

<div class="trapezeWhite" style="
    background-color: white;
    height: 125px;
    width: 100%;
    position:  relative;">

    <p>Coucou Julien</p>

</div>

<div class="trapezeBlue" style="
    background-color:  blue;
    height: 300px;
    width: 100%;
    position:  relative;">

    <div class="triangleL" style="
    width: 0;
    height: 0;
    border-bottom: 90px solid white;
    border-right: 100vw solid transparent;
    position:  absolute;
    bottom: 0;"></div>

    <div class="triangleR" style="
    width: 0;
    height: 0;
    border-top: 90px solid white;
    border-right: 100vw solid transparent;
    position: absolute;
    top: 0px;"></div>
    <p>Coucou Julien</p>
</div>
-->


    <style>
        .inline-block{
            display: inline-block;
        }
        .block-3-infos{
            padding: 0;
        }
        .number{
            padding: 0;
        }
    </style>




{% endblock %}
