{% extends 'base.html.twig' %}

{% block body %}

<div class="grid col-md-12" style="margin-top: 3%; background: #F5F5F5; padding: 0;">

    <div id="homeTopImage" class="col-md-12" style=" width: 100%; height: 300px; padding: 0;">
        <img src="{{ asset("img/driver.png") }}" alt="" style="width: 100%">

    </div>

    <div id="search" class="col-md-6" style="background: white; width: 50%; height: 100px; margin-left: 25%; border: 1px solid grey; border-radius: 5px; /*z-index: 1;*/ top: 200px;">

        <input id="homeSearchInput" type="text" class="center-block" style="width: 80%; margin-top: 2%; border: none; border-bottom: 1px solid grey;" placeholder="Modele, marque ville ...">

        <div class="center-block" style="width: 80%; margin-top: 2%; background: red">

            <div class="col-md-2 searchMarque" style="border: 1px solid blue">
                <img src="{{ asset("img/opel.png") }}" alt="">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>

        </div>

        <style>

            #homeSearchInput:focus {
                outline: none;
            }

            .searchMarque{
                margin-right: 0.6%;
                width: 16%;
            }

        </style>

    </div>

    <div class="col-md-12" style="background: #F5F5F5; margin-top: 14.5%">

        <div id="blockInformations" class="col-lg-12" style="/*margin-left: 10%;*/">

            <h2 class="center-block col-lg-12" style="text-align: center;">Swicar en quelques points</h2>

            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape1.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape2.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape3.png") }}" alt="">
            </div>
            <div class="informationBlock col-lg-3" style="">
                <img class="col-lg-3" src="{{ asset("img/etape/etape4.png") }}" alt="">
            </div>

            <style>

                .informationBlock{
                    margin-right: 8%;
                    width: 17%;
                }

                .informationBlock img {
                    width: 134%;
                }

            </style>

        </div>
    </div>
    <br>

    <div class="col-md-12" style="background: #E6E6E6; padding-bottom: 3%">

        <div id="blockLastAdvert" style="margin-left: 10%;">

            <h2 class="center-block" style="width:36%;">Denieres offres en ligne</h2>

            <div class="advertBlock col-lg-3" style="background: white; border-radius: 3%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: white">

                    <h3 class="advert-title col-lg-12">Alfa Romeo 2600
                        <i class="material-icons pull-right" style="color: #C14D63; padding-right: 5%">favorite</i>
                    </h3>

                    <p class="col-lg-12" style="font-size: 11px; padding: 11px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi consectetur corporis deleniti dolorum ...
                    </p>

                    <div class="col-lg-12">
                        <span class="advert-price">21 000  <i class="material-icons">euro_symbol</i></span>
                        <span class="advert-kilometrage">1 270</span>
                        <span class="advert-boite" style="">Automatique</span>
                    </div>

                </div>
            </div>
            <div class="advertBlock col-lg-3" style="background: white;  border-radius: 3%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: white">
                    t
                </div>
            </div>
            <div class="advertBlock col-lg-3" style="background: white;  border-radius: 3%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: white">
                    t
                </div>
            </div>

            <style>

                .advertBlock{
                    margin-right: 7%;
                    padding-left: 0;
                    padding-right: 0%;
                }

                .advert-title{
                    border-left: #25437A 4px solid;
                    padding-left: 20px;
                }

            </style>

        </div>
    </div>


    <div class="col-md-12" style="background: white">

        <div id="commentBlock" class="col-lg-10" style="margin-left: 10%; ">

            <h2 class="center-block" style="width:36%; text-align: center;">Ils nous ont fait confiance </h2>

            <div class="comment col-lg-12">

                <div class="your-class">
                    <div class="col-lg-12">
                        <img src="{{ asset("img/img.png") }}" class="col-lg-3">
                        <div class="col-lg-9 comment-block">
                            <p class="comment-comment">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque laudantium mollitia natus nesciunt odio pariatur quaerat, rem. Ad, adipisci dicta ea natus nisi quibusdam reprehenderit rerum tempore unde vero.
                            </p>
                            <p class="comment-author">
                                Alice Kruger
                            </p>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" src="/js/jquery-migrate.min.js"></script>
                <script type="text/javascript" src="/js/slick.min.js"></script>

                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.your-class').slick({
                            dots: true,
                            infinite: true,
                            speed: 300,
                            slidesToShow: 1,
                            adaptiveHeight: true,
                            autoplay: true,
                            autoplaySpeed: 2000,
                            arrow: true
                        });
                    });
                </script>

                <style type="text/css">
                    .your-class{
                        width: 90%;
                        left: 5%;
                        /*
                        height: 100px;
                         */
                        text-align: center;
                        margin: 50px 0;
                    }

                    .comment-block {
                        padding-top: 7%;
                        text-align: left;
                    }

                </style>

                {#
                <img src="{{ asset("image.jpg") }}" alt="" class="col-md-2" style="border-radius: 50%">
                #}

            </div>

        </div>

    </div>

        <div class="col-md-12" style="background: linear-gradient(to right, #447398, #204D7E); color: white">

            <div id="blockFooter" class="col-lg-10" style="margin-left: 10%; ">

                <h2 class="center-block" style="width:36%; text-align: center; color: white">Des questions ?</h2>

                <div class="col-md-12">

                    <div class="icone-footer telephone-icone block-img col-md-3">
                        <span class="txt">TELEPHONE <br>01 59 60 44 66</span>
                    </div>

                    <div class="icone-footer email-icone block-img col-md-3">
                        <span class="txt">EMAIL <br>contact@swicar.com</span>
                    </div>

                    <div class="icone-footer chat-icone block-img col-md-3">
                        <span class="txt">CHAT <br>cliquez ici</span>
                    </div>

                </div>

                <hr class="col-lg-12 hr-footer">

                <p class="coyprigthFooter col-md-12" style="text-align: center">&copy; 2017 SWICAR</p>

                <p class="col-md-1 text-footer" style="min-width: 11%">Mentions légales</p>
                <p class="col-md-1 text-footer" style="max-width: 7%">À propos</p>
                <p class="col-md-1 text-footer" style="max-width: 6%">Contact</p>
                <p class="col-md-1 text-footer" style="min-width: 12%">Conditions générales</p>

            </div>

        </div>

        <style>

            .block-img{
                display: inline-block;
                /*
                width: 20%;
                 */
            }

            .icone-footer {
                background-position: center top;
                background-size: 80px;
                padding-top: 90px;
                text-align: center;
                margin-left: 6%;
                /*
                margin-left: 9%;
                 */
            }

            .telephone-icone {
                background: url( {{ asset("img/footer/telephone.png") }} )no-repeat center 15px;
                background-size: 60px;
            }
            .email-icone {
                background: url( {{ asset("img/footer/email.png") }} )no-repeat center 15px;
                background-size: 60px;
            }
            .chat-icone {
                background: url( {{ asset("img/footer/chat.png") }} )no-repeat center 15px;
                background-size: 60px;
            }

            .text-footer {
                padding: 0;
            }



            .hr-footer{
                border: 0;
                height: 2px;
                background-color: #fff;
                /*
                background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                */
            }

        </style>

    </div>

</div>


    <!-- Modal -->


{% endblock %}
