{% extends 'base.html.twig' %}

{% block body %}


    <div class="container" style="margin-top: 3%; margin-right: 0; background-color: #e3e3e3;">
        <div class="row" style="margin-left: 20%;margin-top: 3%;">
            <ul>
                <li>
                    <p class="btn">ALL
                    </p>
                </li>
                <li>
                    <p class="btn">TOYOTA</p>
                </li>
                <li>
                    <p class="btn">CITROEN</p>
                </li>
                <li>
                    <p class="btn">PEUGEOT</p>
                </li>
                <li>
                    <p class="btn">RENAULT</p>
                </li>
                <li>
                    <p class="btn">OPEL</p>
                </li>
                <li>
                    <p class="btn">HONDA</p>
                </li>
                <li>
                    <p class="btn">FORD</p>
                </li>
                <li>
                    <p class="btn">BMW</p>
                </li>
            </ul>
        </div>
        <div class="cars">
    {% for advert in adverts %}
        <div class="col-sm-2 col-md-4 col-lg-3 mt-4" style="background-color: white;border-radius: 3%;margin: 2% 0.3% 2% 0.3%;padding: 0;height: 390px;">
            <div class="card">
                <img class="card-img-top" src="{{ advert.imageUrl }}" style="width: 100%; height: auto;border-top-right-radius: 5%;border-top-left-radius: 5%;">
                <div class="card-block" style="padding: 20px;">
                    <span style="position: absolute;height: 35px;width: 3px;background-color: #1a7bd3;left: 0;bottom: 85px;"></span>
                    <h4 class="card-title" style="vertical-align: middle">{{ advert.carModel|upper }} <span style="float: right "><img style="height: 18px;" src="{{ asset("img/heart.png") }}" alt="like"></span> </h4>
                    <div class="meta">
                        {{ advert.description|slice(0, 50) ~ '...' }}
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right">
                        <span>{{ advert.price|number_format(0,'.',' ') }} <img src="{{ asset("img/euro.png") }}" alt="euro"> </span> |
                        <span>{{ advert.mileage|number_format(0,'.',' ') }} <img src="{{ asset("img/speedometer.png") }}" alt="speedometer"></span> |
                        <span>
                        {% if advert.gearbox == 'manual' %}
                            MANUELLE <img src="{{ asset("img/automatic.png") }}" alt="">
                            {% else %}
                            AUTOMATIQUE <img src="{{ asset("img/automatic.png") }}" alt="">
                        {% endif %}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <style>
        /*.card-title::before{*/
            /*font-family: Bebas sans-serif;*/
            /*width: 3px;*/
            /*height: 20px;*/
            /*background-color: #1a7bd3;*/
            /*content: '';*/
            /*display: inline-block;*/
            /*margin-left: -20px;*/
            /*margin-right: 15px;*/
        /*}*/

        @media (min-width: 1200px) {
            .col-lg-3 {
                width: 32%;
            }
        }
        {#@font-face {#}
            {#font-family: Babes2;#}
            {#src: url({{ asset("font/BEBAS.ttf") }});#}
        {#}#}

        .card-footer .float-right span {
            font-weight: bold;
            padding: 17px;
            margin-top:20px ;
        }
        .meta {
            font-size: 12px;
            color: #afafaf;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        #selected {
            color:blue;
        }

        /*li a {*/
            /*display: block;*/
            /*color: black;*/
            /*text-align: center;*/
            /*padding: 16px;*/
            /*text-decoration: none;*/
        /*}*/


        /*.card-title {*/
            /*font-family: Bebas2 sans-serif;*/
        /*}*/
    </style>
    <script>
        var filters = [];
        $('li p').on('click',function() {
            if ($('#selected').length > 0) {
                $('#selected').attr('id', "");
            }
            $(this).attr('id', 'selected');

            if ($(this).html() == 'ALL') {
                filters['marque'] = ''
            }
            else {
                filters['marque'] = $(this).html();
            }
            console.log(filters);
            $.ajax({
                type: "GET",
                url: "{{ path('list_ajax') }}",
                data: {filter:filters['marque']},
                success: function (data, dataType) {
                    $('.cars').html(data.html)
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error : ' + errorThrown);
                }

            })
        });
    </script>
{% endblock %}
