{% extends 'base.html.twig' %}

{% block body %}


    <link rel="stylesheet" href="{{ asset('dist/bootstrap/css/bootstrap.min.css') }}" />
    <script src="{{ asset('dist/bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ asset('dist/bootstrap/js/bootstrap.min.js') }}"></script>
    <div class="wrapper" style="margin-top: 3%; margin-right: 0; background-color: #e3e3e3;">
        {#<nav id="sidebar">#}
            {#<!-- Sidebar Header -->#}
            {#<div class="sidebar-header">#}
                {#<span>Recherchez un véhicule</span>#}
            {#</div>#}


            {#<!-- Sidebar Links -->#}
            {#<ul class="list-unstyled components">#}
                {#<li class="active"><a href="#">Home</a></li>#}
                {#<li><a href="#">About</a></li>#}
                {#<li><!-- Link with dropdown items -->#}
                    {#<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>#}
                    {#<ul class="collapse list-unstyled" id="homeSubmenu">#}
                        {#<li><a href="#">Page</a></li>#}
                        {#<li><a href="#">Page</a></li>#}
                        {#<li><a href="#">Page</a></li>#}
                    {#</ul>#}
                {#<li><a href="#">Portfolio</a></li>#}
                {#<li><a href="#">Contact</a></li>#}
            {#</ul>#}
        {#</nav>#}
        <div class="content">
            {#<div class="row" style="margin-left: 20%;margin-top: 3%;">#}
                {#<ul>#}
                    {#<li>#}
                        {#<p class="btn">ALL#}
                        {#</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">TOYOTA</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">CITROEN</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">PEUGEOT</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">RENAULT</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">OPEL</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">HONDA</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">FORD</p>#}
                    {#</li>#}
                    {#<li>#}
                        {#<p class="btn">BMW</p>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            <div style="margin-top: 15%;margin-left: 5%; font-size: 12px"><span style="color: #6DCBCD">{{ adverts|length }}</span> annonces au total <span class="filter-menu" style="float: right;margin-right:4% "> Filtrer <i style="margin-left: 5px;margin-top: 4px;" class="fas fa-angle-down"></i></span></div>
            <div class="cars" style="margin-top: -1%">
        {% for advert in adverts %}
            <a href="{{ path('advert_show',{'id':advert.id}) }}">
            <div class="col-sm-2 col-md-4 col-lg-3 mt-4" style="background-color: white;border-radius: 1%;margin: 4%;padding: 0;height: 390px;">
                <div class="card">
                    <img class="card-img-top" src="{{ advert.imageUrl }}" style="width: 100%; height: auto;border-top-right-radius: 1%;border-top-left-radius: 1%;">
                    <div class="card-block" style="padding: 20px;">
                        <span style="position: absolute;height: 35px;width: 3px;background-color: #6DCBCD;left: 0;bottom: 85px;"></span>
                        <h4 class="card-title" style="vertical-align: middle; font-family: Bebas; color: #000;">{{ advert.carModel|upper }} <span style="float: right " data-id="{{ advert.id }}" class="add-fav"><i style="color: #6DCBCD" class="far fa-heart"></i></span> </h4>
                        <div class="meta">
                            {{ advert.description|slice(0, 50) ~ '...' }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">
                            <span style="color: #6DCBCD">{{ advert.mileage|number_format(0,'.',' ') }} km </span> |
                            <span style="color: #6DCBCD">
                            {% if advert.energy == 'diesel' %}
                                Diesel
                                {% else %}
                                Essence
                            {% endif %}
                            </span>
                            |
                            <span style="color: #6DCBCD">{{ advert.price|number_format(0,'.',' ') }} € </span>
                        </span>
                    </div>
                </div>
            </div>
            </a>

        {% endfor %}
            </div>
        </div>
    </div>
    <style>

        @font-face {
            font-family: 'Bebas';
            src: url({{ asset('font/BEBAS.ttf') }})
        }

        @font-face {
            font-family: 'Gotham';
            src: url({{ asset('font/GothamMediumRegular.ttf') }})
        }

        @media (min-width: 1200px) {
            .col-lg-3 {
                width: 32%;
            }
        }
        .wrapper {
            display: flex;
            align-items: stretch;
        }

        .wrapper {
            font-family: Gotham;
        }


        #sidebar {
            min-width: 250px;
            max-width: 250px;
            min-height: 100vh;

        }
        #sidebar {
            /* don't forget to add all the previously mentioned styles here too */
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }
        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }
        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }


        #sidebar.active {
            margin-left: -250px;
        }
        {#@font-face {#}
            {#font-family: Babes2;#}
            {#src: url({{ asset("font/BEBAS.ttf") }});#}
        {#}#}

        .card-footer .float-right span {
            font-weight: bold;
            padding: 17px;
            margin-top:20px ;
        }
        .meta {
            font-size: 12px;
            color: #afafaf;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        #selected {
            color:blue;
        }

        /*li a {*/
            /*display: block;*/
            /*color: black;*/
            /*text-align: center;*/
            /*padding: 16px;*/
            /*text-decoration: none;*/
        /*}*/


        /*.card-title {*/
            /*font-family: Bebas2 sans-serif;*/
        /*}*/
    </style>
    <script>
        var filters = [];
        $('li p').on('click',function() {
            if ($('#selected').length > 0) {
                $('#selected').attr('id', "");
            }
            $(this).attr('id', 'selected');

            if ($(this).html() == 'ALL') {
                filters['marque'] = ''
            }
            else {
                filters['marque'] = $(this).html();
            }
            console.log(filters);
            $.ajax({
                type: "GET",
                url: "{{ path('list_ajax') }}",
                data: {filter:filters['marque']},
                success: function (data, dataType) {
                    $('.cars').html(data)
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error : ' + errorThrown);
                }

            })
        });

        $('.add-fav,.deleteFav').on('click', function(event) {
            event.preventDefault();


            var id = $(this).attr('data-id');
            var url = "";
            /* Act on the event */

            if ($(this).hasClass("add-fav")) {
                url = "{{ path("addFav") }}";

            }else {
                url = "{{ path("deleteFav") }}";
            }

            console.log(url);

            $.ajax({
                        method: "POST",
                        url: url,
                        data: { id: id }

                    })
                    .done(function( data ) {
                        console.log(data.message);
                        console.log('wesh');
                        if (data.message == "add") {
                            console.log("yo");
                            $('.add-fav').addClass('delete-fav');
                            $('.add-fav').children().attr("data-prefix",'far');
                            $('.add-fav').removeClass('add-fav');

                        }else {
                            $('.deleteFav').addClass('add-fav');
                            $('.deleteFav').children().attr("data-prefix",'far');
                            $('.deleteFav').removeClass('delete-fav');
                        }

                        //alert( "Data Saved: " + data );
                    })
                    .fail(function() {
                        alert( "error" );
                    })

        });





    </script>
{% endblock %}
