{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Carmodel</th>
                <td>{{ advert.carModel }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ advert.power }}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ advert.mileage }}</td>
            </tr>
            <tr>
                <th>Yearofproduction</th>
                <td>{{ advert.yearOfProduction }}</td>
            </tr>
            <tr>
                <th>Gearbox</th>
                <td>{{ advert.gearbox }}</td>
            </tr>
            <tr>
                <th>Energy</th>
                <td>{{ advert.energy }}</td>
            </tr>
            <tr>
                <th>Colorindoor</th>
                <td>{{ advert.colorIndoor }}</td>
            </tr>
            <tr>
                <th>Coloroutdoor</th>
                <td>{{ advert.colorOutdoor }}</td>
            </tr>
            <tr>
                <th>Nbrofdoors</th>
                <td>{{ advert.nbrOfDoors }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ advert.immatriculation }}</td>
            </tr>
            <tr>
                <th>Greycard</th>
                <td>{{ advert.greyCard }}</td>
            </tr>
            <tr>
                <th>Firsthand</th>
                <td>{% if advert.firstHand %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('index') }}">Back to the list</a>
        </li>
        {% if advert.reservedBy %}

            {% if app.user and advert.reservedBy.id == app.user.id %}

                <li>
                    <a href="{{ path('advert_rent', { 'id' : advert.id }) }}">Ne plus reserver</a>
                </li>

                {% if advert.expertise %}
                    L'expertise à déja été demandée.
                {% else %}
                    <li>
                        <a href="{{ path('ask_expertise', { 'id' : advert.id }) }}">Demander une expertise</a>
                    </li>
                {% endif %}

                <li>
                    <a href="{{ path('advert_rent', { 'id' : advert.id }) }}">Demander la livraison</a>
                </li>

            {% else %}
                Cette voiture est déja réservée.
            {% endif %}
        {% else %}
            <li>
                <a href="{{ path('advert_rent', { 'id' : advert.id }) }}">Réserver</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
