{% extends 'base.html.twig' %}

{% block body %}

<div class="grid col-md-12" style="margin-top: 3%; /*background: #F5F5F5;*/ padding: 0;">

    {% include("UserBundle:Default:monEspaceHeader.html.twig") %}

    <h2 class="col-lg-12 text-center">Mon tableau de bord</h2>

    {% for flash_message in app.session.flashBag.get('finishExpertise') %}
        <div class="alert alert-danger col-lg-8" style="margin-left: 20%">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorExpertise') %}
        <div class="alert alert-danger col-lg-8" style="margin-left: 20%">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="col-lg-6" style="/*height: 100px;*/">

        <div class="col-lg-12 myInformation-block">
            <div class="title col-lg-12">Mes informations</div>
            <div class="col-lg-12 content" style="/*height: 100px;*/">

                <style>
                    input{
                        width: 100%;
                    }
                </style>

                <div class="col-lg-7">
                    {{ form_start(form, {'attr': {'class': '' , 'enctype': 'multipart/form-data'}}) }}

                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="prénom">
                        -->
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control',  'placeholder': 'Nom' }}) }}

                    </span>
                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="nom">
                        -->
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control',  'placeholder': 'Nom' }}) }}
                    </span>

                    <span class="col-lg-10">
                        <!--
                        <input type="text" placeholder="adresse">
                        -->
                        {{ form_widget(form.adress, {'attr': {'class': 'form-control',  'placeholder': 'adresse' }}) }}
                    </span>

                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="cp">
                        -->
                        {{ form_widget(form.zip_code, {'attr': {'class': 'form-control',  'placeholder': 'Code postale' }}) }}
                    </span>
                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="ville">
                        -->
                        {{ form_widget(form.city, {'attr': {'class': 'form-control',  'placeholder': 'Ville' }}) }}
                    </span>

                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="email">
                        -->
                        {{ form_widget(form.cellphone, {'attr': {'class': 'form-control',  'placeholder': 'Téléphone' }}) }}
                    </span>
                    <span class="col-lg-5">
                        <!--
                        <input type="text" placeholder="email">
                        -->
                        {{ form_widget(form.country, {'attr': {'class': 'form-control',  'placeholder': 'Pays' }}) }}
                    </span>

                    <div class="col-lg-10">
                        <input type="submit" value="Editer mes informations" />
                    </div>



                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    {{ form_end(form, {'render_rest': false}) }}

                </div>

                <div class="col-lg-5">

                    <div class="col-lg-12">Changer de password</div>

                    {{ form_start(formChangePassword, { 'attr': { 'class': 'fos_user_change_password' } }) }}

                    <span class="col-lg-12">
                        {{ form_widget(formChangePassword.current_password, { 'attr': {'class': 'form-control',  'placeholder': 'Votre ancien mot de passe'} }) }}
                    </span>
                    <span class="col-lg-12">
                        {{ form_widget(formChangePassword.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Votre nouveau mot de passe'} }) }}
                    </span>
                    <span class="col-lg-12">
                        {{ form_widget(formChangePassword.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Votre nouveau mot de passe'} }) }}
                    </span>

                    {{ form_widget(formChangePassword._token) }}

                    <div class="col-lg-12">
                        <input type="submit" value="Changer de password" />
                    </div>
                    {{ form_errors(formChangePassword) }}
                    {{ form_end(formChangePassword, {'render_rest': false}) }}

                    <script>

                        $("#fos_user_change_password_form_plainPassword div label")[0].text = "";
                        $("#fos_user_change_password_form_plainPassword div label")[1].text = "";

                    </script>

                    <!--
                    <span class="col-lg-12">
                        <input type="text">
                    </span>
                    <span class="col-lg-12">
                        <input type="text">
                    </span>
                    <span class="col-lg-12">
                        <input type="text">
                    </span>
                    -->

                </div>

            </div>

        </div>

        <div class="col-lg-12">


            <div class="title col-lg-12">Mes ventes</div>
            <div class="col-lg-12 content" style="height: 100px;">
                <div class="col-lg-12">

                    <span class="col-lg-12 text-center" style="margin-bottom: 4%">Vous n'avez pas encore posté d'annonce</span>

                    <span class="col-lg-12 text-center">
                        <a href="" class="post-advert">
                            Poster une annonce
                        </a>
                    </span>

                </div>


            </div>


        </div>

    </div>

    <div class="col-lg-6" style="">

        <div class="title col-lg-12">Suivi de ma commande</div>
        <div class="col-lg-12 content" style="/*height: 100px;*/">
            <div class="col-lg-12">

                {% if advert %}
                <span class="col-lg-12 text-center">

                    Ma derniere réservation : {{ advert.carModel }}

                    {% if advert.expertise %}
                        L'expertise à déja été demandée.
                    {% else %}
                        <a href="{{ path('ask_expertise', { 'id' : advert.id }) }}">Demander une expertise</a>
                        <br>
                    {% endif %}

                    {% if buying is not null %}
                        Payement déja effectué
                    {% else %}
                        <a href="{{ path('payment', {'id' : advert.id }) }}">Effectuer directement le payement</a>
                        <br>
                    {% endif %}

                </span>
                {% else %}
                    <p>Aucune commmande en cours</p>
                {% endif %}
                <span class="col-lg-12 text-center">



                </span>

            </div>


        </div>




    </div>


    <style>

        .title{
            background: #00457c;
            color: #FFFFFF;
            padding-bottom: 3%;
            padding-top: 3%;
        }

        .post-advert{
            padding: 3%;
            border: 1px #337ab7 solid;
        }

        .myInformation-block{
        }

    </style>


    {#
    {% for advert in adverts %}

        <div class="advertBlock col-lg-3" style="background: white; border-radius: 3%">
            <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
            <div style="background: white">

                <h3 class="advert-title col-lg-12"> {{ advert.carModel }}
                    <i class="material-icons pull-right" style="color: #C14D63; padding-right: 5%">favorite</i>
                </h3>

                <p class="col-lg-12" style="font-size: 11px; padding: 11px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi consectetur corporis deleniti dolorum ...
                </p>

                <div class="col-lg-12">
                    <span class="advert-price">21 000  <i class="material-icons">euro_symbol</i></span>
                    <span class="advert-kilometrage">1 270</span>
                    <span class="advert-boite" style="">{{ advert.gearbox }}</span>
                </div>

            </div>
        </div>

    {% endfor %}

    <style>

        .advertBlock{
            margin-right: 7%;
            padding-left: 0;
            padding-right: 0%;
        }

        .advert-title{
            border-left: #25437A 4px solid;
            padding-left: 20px;
        }

    </style>
#}

</div>

{% endblock %}